on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: zig-0.16
jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: zig-0.16
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - run: zig build -Dtarget=x86_64-windows
      - run: zig build install test
      - run: zig-out/bin/limp-debug -R stage
